<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<section id="show-page">
  <div>Picker: </div>
  <div><%= pick.picker %></div>
  <div>Team: </div>
  <div><%= pick.title %></div>
  <div>Spread: </div>
  <div><%= pick.releaseYear %></div>
  <div>Lock of the Week: </div>
  <div><%= pick.nowShowing ? 'Yes' : 'No' %></div>
  <div>Sharks:</div>
  <ul>
    <%- pick.cast.map(p => 
      `<li>${p.name} <small>${p.born.toLocaleDateString()}</small></li>`
    ).join('') %>
  </ul>
</section>

<form id="add-per-to-cast" action="/picks/<%= pick._id%>/performers" method="POST">
  <select name="performerId">
    <%- performers.map(p => `<option value="${p._id}">${p.name}</option>`).join('') %>
  </select>
</form>
  <button type="submit">Add Shark</button>
</form>

<br><br><h2>Break Down</h2>
<form id="add-review-form" method="POST"
  action="/picks/<%= pick._id %>/reviews">
  <label>Break Down:</label>
  <textarea name="content"></textarea>
  <label>Confidence:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Break Down">
</form>

<% if (pick.reviews.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% var total = 0 %>
      <% pick.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
          <td><strong><%= (total / pick.reviews.length).toFixed(1) %></strong></td>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Break Downs Yet</h5>
<% } %>


<%- include('../partials/footer') %>