<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<table id="list">
  <thead>
    <tr>
      <th>Picker</th>
      <th>Team</th>
      <th>Spread</th>
      <th>Detials</th>
      <th>Delete Pick</th>
    </tr>
  </thead>
  <tbody>
    <% movies.forEach(function(m) { %>
      <tr>
        <td><%= m.picker %></td>
        <td><%= m.title %></td>
        <td><%= m.releaseYear %></td>
        <td><a href="/movies/<%= m._id %>">PICK DETAILS</a></td>
        <td><form class="delete-form" action="/movies/<%= m._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
      </form></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>